@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{ 
    background: #e6e6e6;
    position: fixed;
}
*{

   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
 --body-color:white;
 --sidebar-color:rgb(236, 231, 190);
 --primary-color:rgb(248, 229, 61);
 --primary-color-light: #F6F5FF;
 --toggle-color:#DDD;
 --text-color: black;

--tran-02: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;

}



.navbar{
    background: #ffde50;
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* /* background-color:rgb(236, 231, 190); */
     /* background-color: #f8ba57;
background-image: linear-gradient(315deg, #f7b750 0%, #ebd33c 74%);  */
}

.title{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar{
    height: 100%;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    display: block;
  
    text-decoration: none;
    color: black;
    padding: 1 rem;
    font-size: 17px;
    padding-right: 20px;
}
.navbar li a i{
    margin-right: 8px;
    height: 20px;
}
.navbar li a span{
   align-content: center;
   padding-right: 20px;
}

.navbar li:hover{
    text-decoration: underline;
} 
.navbar button{
    width: 250px;
}
.nav{
    padding-left: 50px;
}








  .box{
    display: flex;
  }
  .left{
    margin-top: 131px;
    background-color:#f1eeee;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    height: 531px;

  }
  .right {
    background-color:#f1eeee;
  width: 600px;
  padding: 20px;
  height: 650px;

  }
  .right h3{
      margin: 10px;
  }


  .button-div{
      margin-top: 100px;
  }
  label{
    margin-top: 8px;
    margin-left: 174px;
  }
  .col{
    margin-bottom:86px;
  }
  #button{
    margin: 37px;
  }
  .buttonpreview{
    display: inline-block;
    height: 40px;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
  }
  .secure{
    
    opacity: .6;
    font-size: 12px;
    line-height: 10px;
  }
  #myInput2,#myInput2-1{
    
    font-size: larger;
    width: 212px;
    text-align: center;
    border: none;
  }
  .button{
    cursor: pointer;
    border-radius: 10px;
    height: 49px;
  }
  .progress{
    width: 65%;
    margin-top: 10px;
    z-index: 10;
    float: left;
    height: 100px;
    margin-left: 81px;
    position: absolute;
  }
  .dark{
    background-image: -webkit-linear-gradient(-35deg, #0d3858 25%, #ffde50 0%);
    font-family: 'helvetica neue';
  }
  .light{
    background-image: -webkit-linear-gradient(-35deg, #0d3858 25%, #e6e6e6 0%);
    font-family: 'helvetica neue';
  }
  .dark-input{
    background-image: -webkit-linear-gradient(-35deg, #0d3858 25%, #ffde50 0%);
  }
  .light-input{
    background-image: -webkit-linear-gradient(-35deg, #0d3858 25%, #e6e6e6 0%);
  }


  .invisible{
    display: none;
  }

.new{
  margin-top: 13px;
}


 .form-2 label{
  margin-left: 88px;
 }

  .col-2{
    margin-bottom:24px;
  }

  .button-div-2{
    margin-top: 54px;
}
.btn-2{
  width:100px;height: 45px;
  margin-top: 100px;
}
.navbar-2{
  display: grid;
  height: 102px;
  background: #ffde50;
  font-weight: bold;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  /* /* background-color:rgb(236, 231, 190); */
   /* background-color: #f8ba57;
background-image: linear-gradient(315deg, #f7b750 0%, #ebd33c 74%);  */
}

.right-form{
  background: #e6e6e6;
  margin-top: 43px;
  height: 536px;
}

#donation-label,#donation-label-1{
  color: black;
  width: 100%;
  background: #e6e6e6;
  border: none;
  font-weight: bold;
}
.donation{
  height: 34px;
    width: 80%;
    margin-top: 5px;
}
.navbar-button{
  font-size: x-large;
  width: 370px;
  position: absolute;
  bottom: 68px;
  height: 59px;
  background: #ffde50;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.col-3{
  margin-bottom: 29px;
}
.scrollbar{
  overflow-y: scroll;height: 387px;
}
.scrollbar::-webkit-scrollbar{
  display: none;
}

.detail{
  color: black;
  width: 100%;
  background: #e6e6e6;
  border: none;
  font-weight: bold;
}
.required{
  color: red;
  float: left;
}
